<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <main>
    <div class="product-characteristics">
    <div class="product-characteristics__spec">
        <span>Модель</span>
        <div>Intel Core i7-12700K</div>
    </div>
    <div class="product-characteristics__spec">
        <span>Базовая частота</span>
        <div>3.6 ГГц</div>
    </div>
    <div class="product-characteristics__spec">
        <span>Количество ядер</span>
        <div>12</div>
    </div>
    <div class="product-characteristics__spec">
        <span>Количество потоков</span>
        <div>20</div>
    </div>
    <div class="product-characteristics__spec">
        <span>Сокет</span>
        <div>LGA1200</div>
    </div>
</div>
<div class="product-buy__price">35000 ₽</div>
<img class="product-images-slider__main-img" src="https://example.com/image.jpg">
  </main>
</body>
</html>